#login{
  width: 100%;
  background-image: url('../../assets/img/登录背景.jpg');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  .header{
    display: flex;
    align-items: center;
    height: 60px;
    h1{
      font-size: 30px;
      margin: 0;
      margin-left: 20px;
      color: #ffffff;
    }
  };
  .content{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;  
    .form{
      background:  linear-gradient(to bottom, rgba(254, 180, 133,0.5) 0%, rgba(50, 47, 104,0.5) 100%);                
      box-shadow: 1px 2px 2px #666;
      // width: auto;
      // width: 50%;
      width: 500px;
      h2{
        color: #000000;
        font-size: 26px;
      }
    }
  }
}
