.create-btn-box{
  display: flex;
  .category-title{
    cursor: pointer;
    color: #1890ff;
    line-height: 32px;
    margin-left: 15px;
  }
  .create-btn{
    margin-left: auto;
  }
}

.ant-divider-horizontal{
  margin: 10px 0;
}